<section class="relative h-[320px] pt-20 w-full overflow-hidden bg-[#0a0a0a]">
  <div class="absolute inset-0 z-0">
    <img src="assets/bannerBackground.png" class="h-full w-full object-cover object-right opacity-30">
    <div class="absolute inset-0 bg-gradient-to-r from-[#0a0a0a] via-[#0a0a0a]/80 to-transparent"></div>
  </div>

  <div class="container mx-auto mt-10 px-6 md:px-12 h-full flex flex-col justify-center relative z-10">
    <div class="flex flex-col items-start gap-2">
      <h1 class="text-white text-2xl md:text-4xl font-black uppercase tracking-tighter">
        {{ 'PRIVACY_POLICY.TITLE_1' | translate }} <span class="text-[#00adef]">{{ 'PRIVACY_POLICY.TITLE_2' | translate }}</span>
      </h1>
      <div class="w-12 h-1 bg-[#ff0000]"></div>
    </div>
  </div>
</section>

<section class="py-16 bg-white">
  <div class="container mx-auto px-6 md:px-12 max-w-5xl">
    
    <div class="prose prose-slate max-w-none text-gray-700 leading-relaxed space-y-8 font-sans">
      
      <p class="text-lg">
        {{ 'PRIVACY_POLICY.P1' | translate }}
      </p>

      <p>
        {{ 'PRIVACY_POLICY.P2' | translate }}
      </p>

      <div>
        <h2 class="text-xl font-black text-black uppercase mb-4 border-l-4 border-[#00adef] pl-4">{{ 'PRIVACY_POLICY.H1' | translate }}</h2>
        <p class="mb-4">{{ 'PRIVACY_POLICY.H1_P1' | translate }}</p>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-2 font-bold text-gray-900 list-none p-0">
          <li>{{ 'PRIVACY_POLICY.L1' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L2' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L3' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L4' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L5' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L6' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L7' | translate }}</li>
          <li>{{ 'PRIVACY_POLICY.L8' | translate }}</li>
        </ul>
        <p class="mt-6 italic text-sm text-gray-500">
          {{ 'PRIVACY_POLICY.H1_P2' | translate }}
        </p>
      </div>

      <div>
        <h2 class="text-xl font-black text-black uppercase mb-4 border-l-4 border-[#ff0000] pl-4">{{ 'PRIVACY_POLICY.H2' | translate }}</h2>
        <p>
          {{ 'PRIVACY_POLICY.H2_P1' | translate }}
        </p>
      </div>

      <div>
        <h2 class="text-xl font-black text-black uppercase mb-4 border-l-4 border-[#00adef] pl-4">{{ 'PRIVACY_POLICY.H3' | translate }}</h2>
        <p>
          {{ 'PRIVACY_POLICY.H3_P1' | translate }}
        </p>
      </div>

      <div>
        <h2 class="text-xl font-black text-black uppercase mb-4 border-l-4 border-[#ff0000] pl-4">{{ 'PRIVACY_POLICY.H4' | translate }}</h2>
        <p class="mb-4">
          {{ 'PRIVACY_POLICY.H4_P1' | translate }}
        </p>
        <p>
          {{ 'PRIVACY_POLICY.H4_P2' | translate }}
        </p>
      </div>

    </div>
  </div>
</section>