<div *ngIf="isVisible" class="fixed inset-0 z-[1000] bg-black flex items-center justify-center overflow-hidden">
  
  <div class="relative animate-logo-pulse">
    
    <img src="assets/logo2.png" alt="Logo" class="w-48 md:w-64 h-auto relative z-10">

    <div class="absolute inset-0 z-20 pointer-events-none overflow-hidden">
      <div class="w-1/2 h-full bg-gradient-to-r from-transparent via-white/40 to-transparent skew-x-[-25deg] absolute -left-full animate-shine"></div>
    </div>

  </div>

</div>