<section class="py-24 bg-white"> <div class="container mx-auto px-6 md:px-12">
    <div class="flex flex-col lg:flex-row items-center gap-16">
      
      <div class="w-full lg:w-1/2 relative group">
        <div class="absolute -inset-4 bg-[#00adef]/10 rounded-lg blur-2xl group-hover:bg-[#00adef]/20 transition-all duration-500"></div>
        <img src="assets/logo.png" alt="Mercedes Restoration" 
             class="relative rounded-sm shadow-2xl object-cover w-full h-[500px] transition-all duration-700">
         <div class="absolute bottom-0 left-0 right-0 bg-black/90 backdrop-blur-md p-6 border-t-2 border-[#ff0000]">
              <p class="text-[#ff0000] text-lg font-black tracking-normal uppercase leading-none">
                Reparatii-Reconditionare & Piese Auto
              </p>
            </div>
      </div>
     
      <div class="w-full lg:w-1/2 space-y-8">
        <div class="space-y-4">
          <h4 class="text-[#00adef] text-xs font-black tracking-[0.4em] uppercase">BİZ KİMİZ?</h4>
          <h2 class="text-3xl md:text-5xl font-light leading-tight text-black uppercase tracking-tighter">
            Yıldızın Hikayesini <br> <span class="font-black italic">Yeniden Yazıyoruz</span>
          </h2>
        </div>

        <div class="text-gray-600 leading-relaxed space-y-4 font-light text-lg">
          <p>
            Otomobillerimiz modern dünyanın vazgeçilmez araçlarıdır. Mesafeleri kısaltan, hayatımızın önemli bir bölümünü geçirdiğimiz 
            mobil evlerin içinde olduğumuz gibi hissettiren destinasyonlarımıza güvenle ve huzurla yolculuk yapmak kulağa çok hoş geliyor...
          </p>
          <p class="hidden md:block">
            Araç bakımında dikkat çekmek önemlidir. Araç alırken birçok şeyi göz önünde bulunduruyoruz. En belirleyici iki faktör; bütçemiz ve ihtiyaçlarımızdır...
          </p>
        </div>

        <div class="pt-4">
          <button [routerLink]="['/corporate/about']" class="group flex items-center gap-4 text-xs font-black tracking-[0.2em] uppercase text-black hover:text-[#00adef] transition-colors">
            Devamını Oku...
            <div class="w-12 h-[1px] bg-black/20 group-hover:w-20 group-hover:bg-[#00adef] transition-all duration-500"></div>
            <lucide-icon name="arrow-right" size="16"></lucide-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>