.animate-fade-in {
  animation: fadeIn 0.6s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

// Hata veren kısım yerine bunu kullanıyoruz
.active-category {
  border-left-color: #00adef !important;
  background-color: white !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  
  span {
    color: #00adef;
  }
}